<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>About Us</title>
    <title>Document</title>
    <style>
        .about{
            
            margin: 30px 100px;
        }
        h1{
            text-align: center;
            color: grey;
            text-decoration: underline ;
        }
    </style>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img class="logo" src="images/West Bengal (2).png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Back To Home <span class="sr-only">(current)</span></a>
                                </li>
                                
                        </div>
                    </div>
                </nav>

                <div class="about">
    <h1>About Us</h1>
    <p>The world is at the crossroads. Sri Aurobindo has said that the world will face a crisis--he has called it an
        evolutionary crisis. Man will be confronted with innumerable difficulties which are beyond his power to resolve.
        It was the need of the hour. Message of Sri Aurobindo, full of hope and joy, is an affirmation of the divine
        possibilities of life on earth. It was the task of The Mother to give a concrete shape and to carry this vision
        of a new awakening to all corners of the world, to people who await the call.<br>
        Sri Aurobindo Society was started by the Mother in 19th september 1960. She was not only the founder and the Executive President but also remains its guiding force. From a very small beginning, over the years, the Society has grown into an international organization working in diverse fields of life.
    
    </p>
    <h4>Thus, the Society seeks to bring a dynamic spirituality into material life and all its activities, so that
        the global problems can find a true solution, and the dreams of humanity, through the ages, can be realized.
    </h4>
    </div>

    {{>footer}}

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</body>
</html>

