<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Sri Aurobindo</title>
    <title>Document</title>
    <style>
        p {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 15px;
            color: gray;
            text-align: center;
            margin: 0 20%;
            line-height: 20px;
        }

        .hero-image {
            display: flex;
            justify-content: center;
            height: 500px;
            width: 780px;
        }

        .sa {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="logo" src="images/West Bengal (2).png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Back To Home <span class="sr-only">(current)</span></a>
                    </li>
                    
            </div>
        </div>
    </nav>

    <div class="sa">
        <img class="hero-image" src="images/sa_32.jpg" alt="" srcset="">
    </div>

    <p>Sri Aurobindo was born in Calcutta on 15 August 1872. At the age of seven he was taken to England for education.
        There he studied at St. Paul's School, London, and at King's College, Cambridge. Returning to India in 1893, he
        worked for the next thirteen years in the Princely State of Baroda in the service of the Maharaja and as a
        professor in Baroda College. During this period he also joined a revolutionary society and took a leading role
        in secret preparations for an uprising against the British Government in India.<br><br>

        In 1906, soon after the Partition of Bengal, Sri Aurobindo quit his post in Baroda and went to Calcutta, where
        he soon became one of the leaders of the Nationalist movement. He was the first political leader in India to
        openly put forward, in his newspaper Bande Mataram, the idea of complete independence for the country.
        Prosecuted twice for sedition and once for conspiracy, he was released each time for lack of evidence.<br><br>

        Sri Aurobindo had begun the practice of Yoga in 1905 in Baroda. In 1908 he had the first of several fundamental
        spiritual realisations. In 1910 he withdrew from politics and went to Pondicherry in order to devote himself
        entirely to his inner spiritual life and work. During his forty years in Pondicherry he evolved a new method of
        spiritual practice, which he called the Integral Yoga. Its aim is a spiritual realisation that not only
        liberates man's consciousness but also transforms his nature. In 1926, with the help of his spiritual
        collaborator, the Mother, he founded the Sri Aurobindo Ashram. Among his many writings are The Life Divine, The
        Synthesis of Yoga and Savitri. Sri Aurobindo left his body on 5 December 1950.

    </p>

    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>