<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>The Mother</title>
    <title>Document</title>
    <style>
        p {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 15px;
            color: gray;
            text-align: center;
            margin: 0 20%;
            line-height: 20px;
        }

        .hero-image {
            display: flex;
            justify-content: center;
            height: 500px;
            width: 780px;

        }

        .ma {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="logo" src="images/West Bengal (2).png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Back To Home <span class="sr-only">(current)</span></a>
                    </li>


            </div>
        </div>
    </nav>

    <div class="ma">
        <img class="hero-image" src="images/ma01.jpg" alt="" srcset="">
    </div>
    <p>The Mother was born Mirra Alfassa in Paris on 21 February 1878. A pupil at the Academie Julian, she became an
        accomplished artist, and also excelled as a pianist and writer. Interested in occultism, she visited Tlemcen,
        Algeria, in 1905 and l906 to study with the adept Max Theon and his wife. Her primary interest, however, was
        spiritual development. In Paris she founded a group of spiritual seekers and gave talks to various
        groups.<br><br>

        In 1914 the Mother voyaged to Pondicherry to meet Sri Aurobindo, whom she at once recognised as the one who for
        many years had inwardly guided her spiritual development. After a stay of eleven months she was obliged to
        return to France due to the outbreak of the First World War. A year later she went to Japan for a period of four
        years.<br><br>

        In April 1920 the Mother rejoined Sri Aurobindo in Pondicherry. When the Sri Aurobindo Ashram was formed in
        November 1926, Sri Aurobindo entrusted its full material and spiritual charge to the Mother. Under her guidance,
        which continued for nearly fifty years, the Ashram grew into a large, many-faceted spiritual community. In 1952
        she established Sri Aurobindo International Centre of Education, and in 1968 an international township,
        Auroville.

        The Mother left her body on 17 November 1973.
    </p>

    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>