<!-- Footer -->
  <div class="container6">
    <section id="contactSection">
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Contact Us</h5>
        <p>For any further query, please contact us.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Email Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="mailto:sriaurobindosociety.wbsc@gmail.com">sriaurobindosociety.wbsc@gmail.com</a>
          </li>
          <li>
            <a href="mailto:ashokbasak80@gmail.com">ashokbasak80@gmail.com</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="phone col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Call Us</h5>

        <ul class="list-unstyled">
          <li>
            <i class="fa fa-phone" style="font-size:20px;color:#fff">9432865879</i>
          </li>
          <li>
            <i class="fa fa-phone" style="font-size:20px;color:#fff">9331876468</i>
          </li>
          <li>
            <i class="fa fa-phone" style="font-size:20px;color:#fff">7278467150</i>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021  Copyright:
    Sri Aurobindo Society West Bengal State Committee
  

</div>
  <!-- Copyright -->

</footer>
</div>
</section>